body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;

}
.sidebar{
    background-color: #ecf0f1;
    border: 1px solid #bcd3c7;
    padding: 12px;
    margin-top: 16px;
}
@media (max-width:767px) {
    .sidebar{
        display: none;
    }
    
}