body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
}
.badge{
    background: #e74c3c;
    color: #fff;
    padding: 16px;
    text-align: center;
}
@media (min-width :768px) {
    .badge{
    background: #ead40b;
  
}
}
@media (min-width :1024px) {
    .badge{
    background: #00ff1e;
    
}
}
