body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
}

.banner {
    background-color: #95a5a6;
    color: #fff;
    padding: 24px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .banner {
        background-color: #8e44ad;
    }
}