main {

    width: 800px;
    height: 600px;
    background-color: rgb(219, 100, 100);
    padding-top: 10px;

    margin: auto;
}

h2 {
    color: aquamarine;
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    border: 3px;
    border: 2px solid;
    margin-top: 30px;
    margin: 30px;
}